@import models.dao.entities.Video

@(video: Video)
<div class="col-lg-4 themed-grid-col">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">
                @video.name
            </h1>
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    @if(video.ready) {
                        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                            <a href="@video.link" class="nav-link link-body-emphasis px-2">
                                Download
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                            <a href="/edit_video" class="nav-link link-body-emphasis px-2">
                                Edit
                            </a>
                        </button>
                        <button class="btn btn-outline-primary rounded-circle p-3 lh-1" type="button">
                            <a href="/delete_video" class="nav-link link-body-emphasis px-2">
                                X
                            </a>
                        </button>
                    } else {
                        <button class="btn btn-primary" type="button" disabled="">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
